# 将依赖提升到根目录，我们使用pnpm，所以不需要这个配置
#node-linker=hoisted

# 工作区包之间的链接，设置为true，可以相互引用，而不需要发布到npm
link-workspace-packages=true
# 通过pnpm设置本项目使用的node版本，避免版本冲突
use-node-version=22.14.0
# 项目内设置为淘宝源，避免网络问题
registry=https://registry.npmmirror.com